* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    font-family: Arial;

    background: rgb(215,121,255);
background: radial-gradient(circle, rgba(215,121,255,1) 0%, rgba(103,171,254,1) 100%);
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: #5b7c83; */
    
}

.card{
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    width: 350px;
    /* background-color: #1a2129; */
    align-items: center;
    padding: 40px 20px;
    border-radius: 10px;
    border-right: 1px solid #afe2e4;
    color: black;
    box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.75);

/* background: rgb(246,235,240);
background: radial-gradient(circle, rgba(246,235,240,1) 0%, rgba(202,220,242,1) 100%); */

background: rgb(252,246,255);
background: radial-gradient(circle, rgba(252,246,255,1) 0%, rgba(163,205,255,1) 100%);

}

.card img{
    border-right: 1px solid #afe2e4;
    width: 100px;
    border-radius: 100%;
    margin-bottom: 15px;
    box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.75);
}

.card nav ul li a{
    /* background-color:#7fb3b1; */
    color: black;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 15px;

    background: rgb(215,121,255);
background: radial-gradient(circle, rgba(215,121,255,1) 0%, rgba(103,171,254,1) 100%);

}

.card nav ul li a:hover{
    background-color: #afe2e4;
    color: black;
    padding: 10px 40px;
    box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.75);
}

.card nav ul li{
    margin: 30px auto;
    text-align: center;
}

.card nav{
    margin-top: 15px;
}
